@{
    ViewBag.Title = "Marvel API C# Wrapper";
    ViewBag.marvelDeveloper = "developer.marvel.com";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <link href="~/Assets/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
    <link href="~/Assets/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3 class="page-title">@ViewBag.Title</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col s12">
                <h4>Installation:</h4>
                <div class="divider"></div>
                <p>Head over to <a href="http://@ViewBag.marvelDeveloper" target="_blank">@ViewBag.marvelDeveloper</a> and sign up/in to get your API keys.</p>
            </div>

            <div class="col s12">
                <h4>NuGet:</h4>
                <div class="divider"></div>

                <p>Use <a href="https://www.nuget.org/" target="_blank">NuGet</a> to fetch and install the library for you. You can see the project's NuGet page here. (This is the recommended method for install)</p>
            </div>

            <div class="col s12">
                <h4>Github Clone:</h4>
                <div class="divider"></div>

                <p>You could also clone the repository:</p>
                <code>
                    git clone https://github.com/rroa/marvel-csharp.git
                </code>
                <p>Include the project within your solution and add a reference to it.</p>
            </div>

            <div class="col s12">
                <h4>Quick start:</h4>
                <div class="divider"></div>

                <h6>Initialize the API client</h6>
                <pre>
                <code class="language-csharp">
const string publicKey = "YOUR PUBLIC KEY";
const string privateKey = "YOUR PRIVATE KEY";
                    
// Initialize the API client
// 
var client = new MarvelRestClient(publicKey, privateKey); 
// First 20 characters 
// 
var response = client.FindCharacters(); 
// Iterate through the results
// 
foreach (var character in response.Data.Results)
{
    // Do something with the character info 
    string name = character.Name;
} 
                        </code>
                </pre>
                <p><i>For more on how to use this wrapper visit our <a href="https://github.com/rroa/marvel-csharp/wiki" target="_blank">wiki</a></i></p>
            </div>
            <div class="col s6">
                <h4>Documentation:</h4>
                <div class="divider"></div>
                <p>The full doxygen documentation for the API can be found <a href="http://marvel.mrroa.com/static/docs/class_marvel_1_1_api_1_1_marvel_rest_client.html" target="_blank">here</a></p>
            </div>
            <div class="col s6">
                <h4>Attribution:</h4>
                <div class="divider"></div>
                <p>All Data provided by Marvel. © 2015 Marvel</p>
            </div>
        </div>
    </div>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <p class="center"><i>MIT License 2015</i></p>

                        </div>
                    </div>
                </div>

            </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Assets/prism.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</body>
</html>
