@{
    ViewBag.Title = "Marvel API C# Wrapper";
    ViewBag.marvelDeveloper = "developer.marvel.com";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
    <link href="~/Styles/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2 class="page-title center">@ViewBag.Title</h2>
                </div>
                <div class="col offset-s1 s4">
                    <a id="playground" href="#" class="waves-effect waves-light btn-large red block"><i class="fa fa-cog  fa-spin fa-2x"></i>Playground</a>
                </div>
                <div class="col offset-s2 s4">
                    <a href="https://github.com/rroa/marvel-csharp" target="blank" class="waves-effect waves-light btn-large red block"><i class="fa fa-github fa-2x"></i>Github</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col s12">
                <h4>Installation</h4>
                <div class="divider"></div>
                <p>Head over to <a href="http://@ViewBag.marvelDeveloper" target="_blank">@ViewBag.marvelDeveloper</a> and sign up/in to get your API keys.</p>
            </div>

            <div class="col s12">
                <h5>NuGet</h5>
                <p>
                    Use <a href="https://www.nuget.org/" target="_blank">NuGet</a> to fetch and install the library for you.
                </p>
                <pre>
                <code class="language-csharp">                        
    PM&gt; Install-Package Marvel.Api
                    </code>
                </pre>
            </div>

            <div class="col s12">
                <h5>Quick start</h5>
                <pre>
                <code class="language-csharp">                        
    const string publicKey = "YOUR PUBLIC KEY";
    const string privateKey = "YOUR PRIVATE KEY";
                    
    // Initialize the API client
    // 
    var client = new MarvelRestClient(publicKey, privateKey);
    // First 20 characters 
    // 
    var response = client.FindCharacters(); 
    // Iterate through the results
    // 
    foreach (var character in response.Data.Results)
    {
        // Do something with the character info 
        string name = character.Name;
    } 
                        </code>
                </pre>
                <p><i>For more on how to use this wrapper visit <a href="https://github.com/rroa/marvel-csharp" target="_blank">marvel-csharp</a></i> @@ Github.</p>
            </div>
            <div class="col s12">
                <h4>Documentation</h4>
                <div class="divider"></div>
                <p>The full doxygen documentation for the API can be found <a href="http://marvel.mrroa.com/static/docs/class_marvel_1_1_api_1_1_marvel_rest_client.html" target="_blank">here</a></p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <p class="center"><i>MIT License 2015</i></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Marvel Search</h4>
            <p>
                Who you gonna call?!!
            </p>
            <div id="heroes">
                <form id="search-heroe" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate">
                            <label for="name">Name</label>
                            <span id="error" style="display:none; color: red">You must provide a name.</span>
                        </div>
                    </div>
                    <p>
                        <input value="character" name="group1" type="radio" id="test1" checked />
                        <label for="test1">Character</label>
                    </p>
                    <p>
                        <input disabled="disabled" value="comic" name="group1" type="radio" id="test2" />
                        <label for="test2">Comic</label>
                    </p>
                    <div class="row">
                        <div class="input-field col s12">
                            <a id="submit" class="waves-effect waves-light btn">Search</a>                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="progress" style="display: none !important">
                <div class="indeterminate"></div>
            </div>            
        </div>
        <div class="modal-footer">
            Data provided by Marvel. © 2014 Marvel
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/prism.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <script src="/Scripts/Index.js"></script>
</body>
</html>